<div class="input-group form-group has-search">
  <span class="fa fa-search form-control-feedback"></span>
  <input #ma_input type="text" class="form-control" placeholder="Search" (keyup.enter)="searchValue(ma_input.value)">
  <div class="input-group-append">
    <button type="button" class="btn btn-outline-secondary" (click)="searchValue(ma_input.value)"><span class="fa fa-search"></span></button>
    <button type="button" class="btn btn-outline-secondary dropdown-toggle dropdown-toggle-split" 
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <span class="sr-only"></span>
    </button>
    <div class="dropdown-menu scrollable-menu">
      <ul id="ma_ULa" class="list-group" *ngIf="martialArts">
          <li class="dropdown-item" *ngFor="let item of martialArts" (click)="selectedMartialArt = item"><a>{{ item.name }}</a></li>
      </ul>
    </div>
  </div>
</div>

<app-info-card [_selectedMartialArt]="selectedMartialArt"></app-info-card>